.profile__edit-button{
    grid-area: profile__edit-button;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    justify-self: flex-start;
    max-width: 18px;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.profile__edit-button:hover{
    opacity:0.6;
}
    
}
@media screen and (min-width: 768px) {
    .profile__edit-button{
        width: 24px;
        align-self: center;
        justify-content: start;
    }
}