.form__save-button{
    height: 46px;
    background: #000000;
    border-radius: 2px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding:0;
    margin: 2.6875rem 0 1.4375rem 0;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.edit-form__save-button:hover{
    opacity:0.8;
}
 
@media screen and (min-width: 465px) {
    .edit-form__save-button{
        margin: 2.875rem 0 2.12875rem 0;
        height: 50px;
    }
}
 
@media screen and (min-width: 768px) {
    .edit-form__save-button{
        font-size: 1.125rem;
        line-height: 1.22;
    }
}