.edit-form__input{
    font-family: 'Inter', 'Arial', sans-serif;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625;
    margin-top: 1.875rem;
    padding:0;   
    color: #000000;
}

