.element__title{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.21;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: solid 3px red;
}