.header__logo{
    box-sizing: border-box;
    object-fit: contain;
    margin:0;
    max-width: 103.74px;
    border: solid 3px red;
    /* margin-left: 1.6875rem; */
 }

@media screen and (min-width: 768px) {
    .header__logo{
        margin:0;
        max-width: 142px;
}
}