.profile__subtitle{
    grid-area: profile__subtitle;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.21428;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    justify-self: center;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (min-width: 768px) {
    .profile__subtitle{
        justify-self: start;
        align-self: start;
        font-size: 1.125rem;
        line-height: 1.22;
        max-width: 320px;
    }
}
@media screen and (min-width: 1024px) {
    .profile__subtitle{
        max-width: 500px;
    }
}