.elements {
    list-style: none;
    justify-items: center;
    display: grid;
    margin:0 auto;
    padding: 2.25rem 0 0 0;
    max-width: 88.125%;
    grid-template-columns: repeat(1, minmax(282px, 1fr));
    row-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  
  
  @media screen and (min-width: 768px) {
    .elements {
        grid-template-columns: repeat(2, minmax(282px, 1fr));
        max-width: 90%;
        padding-top: 2.953125rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .elements {
        grid-template-columns: repeat(3, minmax(280px, 1fr));
        grid-gap: 0.875rem;
        max-width: 90.625%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .elements{
      max-width: 880px;
    }
  }