.edit-form__title{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.22;
    color: #000000;
    text-align: center;
    margin: 0;
    padding-top: 1.5625rem;
    max-width: 100%;
    
}
@media screen and (min-width: 768px) {
    .edit-form__title{
        font-size: 1.5rem;
        line-height: 1.208;
        text-align: left;
        padding-top: 2.125rem;
        align-self: flex-start;
    }
}