.profile__info{
    display: grid;
    margin: 0 auto;
    grid-gap:10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    max-width: 88.125%;
    padding-top: 1.390625rem;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-areas:
        "profile__title profile__edit-button"
        "profile__subtitle profile__subtitle"
}
@media screen and (min-width: 768px) {
    .profile__info{
        max-width: 90%;
        padding-top: 0;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-areas:
            "profile__title profile__edit-button"
            "profile__subtitle .";
        row-gap: 1rem;
        column-gap: 1.125rem;
    }
}