.profile__info{
    display: grid;
    margin: 0 auto;
    row-gap:0.875rem;
    column-gap: 0.625rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    max-width: 88.125%;
    padding-top: 1.390625rem;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-areas:
        "profile__title profile__edit-button"
        "profile__subtitle profile__subtitle";
   
}
@media screen and (min-width: 768px) {
    .profile__info{
        max-width: 90%;
        padding-top: 0;
        row-gap: 1rem;
        column-gap: 1.125rem;
    }
}